
    


body{
    margin: 0;
    font-family:Helvetica, sans-serif ;

}

.header{
    width: 100%;
    height: 105px;
    display: flex;
   
}

.logo
{
    width: 200px;
   
    position: relative;
    /* float: left; */
    height: 105px;
    padding-left: 100px;
    flex-grow: 1;
}
.menu{
       /* float: left; */
       width: 42%;
       position: relative;
       height: 105px;
       color: gray;
      
       align-items: center;
       display: flex;

}
.menulink{
    text-decoration: none;
    color: gray;
}
.menuitems{
   
       width: 130px;
      
       font-weight: bold;
       height: 28px;
      
       text-align: center;
      
}

#mainbody{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    direction: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#head{
    margin: 0 auto;
    text-transform: capitalize;
    width: fit-content;
    color: #3c4fd3;
    height: 160px;
    font-size: larger;
}
#sub{
    color:black;
    font-weight: bold;
    text-align: center;
}
.entirefeature{
        /* border: solid; */
        height: 252px;
        /* display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
        display: flex;
        
        width: 100%;

}
.feature{
    width: 53%;
    height: 350px;
   
    text-align: left;
    
    position: relative;
  
}
.one{
    width: 450px;
    height: 252px;
    background: linear-gradient(to right, #BAD3FB 0%, #ffffff 100%);
    /* float: left; */
    flex-grow: 2;
}
.bm{
    letter-spacing: -18px;
    font-size: 55px;
    color: rgb(89, 131, 248);
    padding-left: 5px;
}
.bmhead{
    color: rgb(24, 24, 21);
    padding-left: 65px;
    font-weight: bold;
    font-size: 21px;
}

.signup{
    background: rgb(185, 31, 31);
    color: white;
    font-weight: bold;
    border: none;
    right: 30px;
    margin-left: 320px;
    padding: 11px;
}
.onetest{
    border: 0.5px solid lightgray;
    width: 275px;
    height: 100%;
    display: flex;

}
.oneleft{
   
    width: 80px;
    height: 100%;
}
.oneright{
    display: flex;
    flex-direction: column;
   
    flex-grow: 1;
    width: 175px;
    height: 100%;
}
.onehead{
   
    width: 100%;
    height: 91px;
    display: flex;
    align-items: end;
    font-size: 25px;
    /* font-style: italic; */
    font-weight: bold;
    font-family: emoji;}

.onepara{
   
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
}
.onesignup{
  
    width: 100%;
    flex-grow: 1;
    height: 40px;
    text-align: center
    ;
}









.two{
    height: 250px;
    border: 0.5px solid lightgrey;
    width: 270px;
    float: left;
    flex-grow: 1;
}
.toalign{

}
.jr{
    letter-spacing: -18px;
    font-size: 55px;
    color: burlywood;
    font-weight: bolder;
    height: 100%;
    width: 81px;
    float: left;
}
.jrhead{
    padding-top: 37px;
    padding-left: 50px;
    font-size: 27px;
}
.twob{
    border: solid #676bcc;
    background: white;
    top: 70px;
    color: #26298f;
}
.work{

flex-grow: 1;
width: 450px;
height: 250px;
background: linear-gradient(to right, #F3FBBA 0%, #ffffff 100%);

float: left;
}

.worktwo{
    height: 135px;
    border: 0.5px solid lightgrey;
    width: 270px;
    float: left;
    flex-grow: 1;
}
.entiretwo{
    height: 252px;
    width: 100%;
    display: flex;

}
.entirework{
  
    width: 100%;
    display: flex;
    height: 135px;
}

.meethead{
    padding-top: 37px;
    padding-left: 50px;
   
    color: rgb(24, 24, 21);
    padding-left: 65px;
    font-weight: bold;
    font-size: 21px;
}
.workspace{
    width: 545px;
    height: 250px;
    
    float: left;
}




/*Second*/

.qizoair{
    width: 100%;
    height: 90px;
   

}


.threeitem{
    width: 32.5%;
    height: 182px;
    border: 0.5px gray solid;
 
    margin-left: 9px;
    display: flex;
    margin-top: 7px;
    flex-direction: column;
}

.upper{
    width: 100%;
    padding-left: 20px;
    height: 37%;
    
}
.down{    width: 92%;
    height: 48%;
    font-weight: bold;
    
    font-size: 17px;
    padding-top: 17px;
    padding-left: 20px;
    text-align: end;
    color: brown;
}
.down a{
    text-decoration: none;
    border-bottom: 2px dotted #676bcc;
    color: #676bcc;
    font-size: 12px;
}
.asset{
    font-weight: bold;
    font-size: 24px;
}
.grid{
    width: 100%;
    height: 450px;
    text-align: center;
}
.griditem{
    width: 33%;
    height: 33.3%;
    border: 0.5px solid gray;
    float: left;
}
.appstext{
    color: cornflowerblue;
    position: relative;
    top: 40%;
    font-size: 23px;
}

.privacy{
    font-size: 20px;
    position: relative;
    /* top: 23%; */
    /* border: solid; */
    color: #12f3de;
}
.learn{
    width: fit-content;
    border: 0.7px solid #afb91d;
    /* position: relative; */
    /* left: 100px; */
    font-weight: bold;
    color: #ff0023;
    padding: 4px;
    font-size: 12px;
    
}

.customer{
    width: 49.2%;
    height: auto;
   
    float: left;
    height: 250px;
    position: relative;
    text-align: center;
}
.four{
    width: 44%;
    position: relative;
    height: 44%;
    /* border: solid; */
    text-align: center;
    float: left;
}

.links {
    text-decoration: none;
    border-bottom: 2px dotted #676bcc;
    color: #676bcc;
    font-size: 16px;
}

.partners{
    width: 39%;
    height: 176px;
    float: left;
    position: relative;
    text-align: left;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
}
.phead{
    width: 100%;
    height: 18%;
    font-weight: bold;
    
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 7px;

}
.search{
    justify-content: center;
    display: flex;
   
    height: 50px;
}

.entirethree{
    
    width: 100%;
    height: 195px;
    display: flex;
}
.entireprivacy{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 100%;
    height: 100%;
    justify-content: center;
}
.entireend{
    width: 100%;
    
    display: flex;
    height: 176px;
}
/*footer*/

#footer{
    background: #333;
    width: 100%;
    height: 500px;
    display: flex;
    color: lightgray;
    justify-content: center;
}
#alignment{
    width: 60%;
    height: inherit;
    position: relative;
    /* align-items: unset; */
    display: flex;
    flex-direction: column;
}
.about{
    width: 20%;
    height: 180px;
    position: relative;
    float: left;
    margin-top: 50px;
}
.about ol{
    
    padding-left: 15px;
    list-style: "* ";
    font-size: 14px;
}

.about h2{
    font-weight: bold;
    font-size: 20px;
}

#sbox{
    background: #333;
    width: 600px;
    height: 36px;
    border: 0.5px solid lightgray;
    /* position: relative; */
    left: 15%;
    float: left;
    color: aliceblue;
}
.li2{
    display: inline-block;
  }
  a.li{
    color: lightgray;
    
  
  }

.liststyle{
    position: relative;
    
    font-size: 11px;
    text-align: center;
    clear: both;
}

.sicon{
        width: 25px;
    height: 25px;
    border-radius: 6px;
}
.mail{
    text-decoration: none;
    color: lightblue;
}
li{
    line-height: 26.5px;
}