body{
    background-image: url(mainlogo.jpg);
    margin: 0;
    /* align-items: baseline; */
    color: darkcyan;
    display: flex;
    justify-content: center;
}

#all{
    display: flex;
    justify-content: center;
}
.signbody{
    width: 600px;
    height: 489px;
    position: relative;
    top: 120px;
    background-color: #2e138b;
    color: #fafff6;
}
.describe{
    width: 400px;
    height: 489px;
    text-align: center;
  
    position: relative;
    top: 120px;
    background: aliceblue;
}

.textbox{
    width: 300px;
    height: 25px;
    border: 1px solid;
    border-radius: 23pz;
    background: #fafff6;
    border-radius: 7px;
}
.label{
    font-size: 20px;
    padding: 57px;
}

.button{
    border: none;
    padding: 5px;
    background: #ef200b;
    border-radius: 24px;
    font-size: 17px;
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: bold;
}

.pic{
   
    margin-top: 100px;
    font-size: 23px;
    color: darkblue;
    text-decoration: underline;
    font-family: auto;
    /* font-style: italic; */
}
.about{
       /* border: solid; */
     
       font-style: italic;
       font-size: 19px;
       color: darkslateblue;
      
}