body{
    background: rgb(245 232 230);
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    color: darkcyan;
    position: relative;
}

.signbody{
    width: 600px;
    height: 489px;
    
    position: relative;
    top: 84px;
    background-color:crimson;
    color: #fafff6;
}

.textbox{
    width: 300px;
    height: 25px;
    border: 1px solid;
    border-radius: 23pz;
    background: #fafff6;
    border-radius: 7px;
}
.label{
    font-size: 20px;
    padding: 57px;
}

.button{
    border: none;
    padding: 7px;
    background:#a36076;
    font-size: 17px;
    color: white;
    font-weight: bold;
}