body{
    margin: 0;
    font-family:Helvetica, sans-serif ;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.header{
    width: 100%;
    height: 65px;
    
    display: flex;
    justify-content: center;
    border: 0.5px gray solid;
   
}

.logo
{
    width: 500px;
    
    height: 100%;
    flex-grow: 1;
    
}
.menu{
    float: left;
    width: 36%;
    /* position: relative; */
    height: 100%;
    /* border: solid; */
    color: #3f51b5;
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    


}
.menuitems{
  
    width: fit-content;
    /* border: solid; */
    padding: 2px 30px;
    height: 28px;
    
}

#mainbody{
    width: 100%;
    height: 2730px;
    position: relative;
    margin-top: -38px;
    /* margin: 0 auto; */
    background-color: #fefff8;
   
}

.intro{
    width: 100%;
    height: 450px;
   
    position: relative;
    text-align: center;
    background-image: url("support4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.head{
    
    position: relative;
    top: 90px;
    font-size: 56px;
    color: #ffffff;
}
#sbox{
    background: #fff;
    width: 500px;
    height: 45px;
    border: 0.5px solid #141313;
    /* position: relative; */
    border-radius: 10px;
    /* left: 700px; */
    
}
.items{
    width: 175px;
    height: fit-content;
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    position: relative;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    float: left;
    
}
.asset{
   
    width: 100%;
    height: 300px;
    position: relative;
    padding-top: 1px;
    /* border: solid; */
}
.asset3{
    width: 100%;
    height: 200px;
   
    display: flex;
    justify-content: center;

}
.eachasset{
    background: antiquewhite;
    width: 15%;
    height: 150px;
   
    display: flex;
    justify-content: center;
    margin: 4px;
    text-align: center;
    color: brown;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    float: left;
}
.bundle{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 30px;
    position: relative;
   
}
.scontent{
    width: 50%;
    height: inherit;
   
    line-height: 41px;
}
.hbox{
    background: #fff;
    width: 313px;
    height: 27px;
    border: 0.5px solid #141313;
    position: relative;
    border-radius: 4px;
}
.lis{
    color: darkcyan;
    font-size: 24px;
    list-style: hangul-consonant;
}

.search{
    height: 35px;
    
    float: left;
    width: 320px;
}
.arrow{
    width: 32px;
    float: left;
    border-radius: 3px;
    height: 29px;
    background: #e1dede;
    border: 0.5px solid gray;
    margin-top: 6px;
    margin-left: -4px;
    
    position: relative;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}


.leftside{
    width: 30%;
    height: 325px;
    float: left;
    position: relative;
   
    display: flex;
    justify-content: right;
 
}
.leftone{
    width: 300px;
    height: 50px;
    /* border: solid; */
    border-left: solid;
    margin: 6px;
    float: none;
    
}
.rightside{
      /* justify-content: center; */
      width: 66%;
      height: 325px;
      flex-grow: 1;
      position: relative;
      /* color: #dbc8b2; */
      display: flex;
      background: #f5f1eb;
      float: left;
      text-align: center;
      /* justify-content: space-around; */
      /* align-items: center; */
}
.lfirst{
    width: 50px;
    height: 100%;
    
    display: flex;
    float: left;
    TEXT-ALIGN: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: burlywood;
}
.lsec{
    width: 200px;
    height: 100%;
 
    float: left;
    display: flex;
    font-weight: bold;
    align-items: center;
}
.leftall{
    width: 300px;
    height: fit-content;
   
}


.lin{
    text-decoration: none;
    color: black;
}

a.lin :hover{
    background-color: rgb(238, 248, 195);
    border-left: 3px rgb(197, 141, 36) solid;
}




.rightall{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 300px;
    margin-top: 10px;
}
.rightone{
    width: 320px;
    height: 192px;
    float: left;
    margin: 10px;
    background: aliceblue;
    display: flex;
    color: #d19950;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    flex-grow: 1;
}

.sec{
    text-decoration: none;
    color: black;
}

.sides{
    width: auto;
    height: 330px;
  
    display: flex;
}